<!-- <app-input-component name="Ashira" master="Paras"></app-input-component>
<app-input-component name="Ruhi" master="Paras"></app-input-component> -->

<div appBackground="red">
  Hello Paras
</div>

<div appBackground="green">
  Hello Paras
</div>

<div appBackground="orange">
  Hello Paras
</div>

<div *ngIf="allowed; then content; else no_content"></div>

<ng-template #content>I am from content </ng-template>
<ng-template #no_content> I am from no content </ng-template>
<hr />

<app-test *ngIf="allowed"></app-test>

<app-view-child></app-view-child>

<app-local-variable #jumbo></app-local-variable>
{{ jumbo | json }}
<br />
<app-output-component
  (atChildButtonTouch)="onParentTouched($event)"
></app-output-component>

<app-input-component
  *ngFor="let item of children"
  [name]="item.name"
  [master]="item.master"
></app-input-component>

<app-test></app-test>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  A simple info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  A simple dark alert—check it out!
</div>
